<!DOCTYPE html>
<html>
    
    <head>
        <link href='https://fonts.googleapis.com/css?family=Lobster+Two:400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
       <title>무지개 이메일</title>   

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        
        <style>
            .container {
            
                margin-top: 100px;
            
            }
            
            html {
            
                height: 100%;
            
            }
            
            #background {
                background: linear-gradient( 45deg, black, black); 
                overflow:auto;
                position:fixed;
                top:0;
                right:0;
                left:0;
                bottom:0;
            }
             
            h1 {
                
                text-align: center;
                color:white;
                text-shadow:0 1px 2px black;
                font-family: 'Lobster Two', cursive;
                font-size: 70px;
            }
            
            a {
                
                text-align: center;
                color:white;
                text-shadow:0 1px 2px black;
                font-family: 'Lobster Two', cursive;
                
            }
            
            h6 {
                
                text-align: center;
                font-family: 돋움; sans-serif;
                color:white;
                text-shadow: 0 1px 2px black;
            }
             
        </style>
    </head>    
    <body>
        
    <div id=background>   

        <div class="container">   
        <h1>♥ Sent Record ♥</h1>
        <h6>스페이스바를 많이 눌러보세용!</h6>
        <br>

            <% @every_post.each do |p| %>
            <div class="panel panel-default">
              <div class="panel-heading"><%= p.title %></div>
              <div class="panel-body">
                Content: <%= p.content %> <br>
                Time: <%= p.created_at %>
              </div>
            </div>
            <% end %>
            
            <h3><a href="/">Go back to write more!</a></h3>
            
        </div>    
    </div>
    <script>
        
        var bg = document.getElementById("background");
        var out = document.getElementById("gradient");
        
        document.body.onkeyup = function(e) {
          if (e.keyCode == 32) {
            randomBackground();
          }
        }
        
        document.addEventListener('DOMContentLoaded', function() {
          randomBackground();
        }, false);
        
        function randomBackground() {
          var from = '#' + Math.floor(Math.random() * 16777215).toString(16);
          var to = '#' + Math.floor(Math.random() * 16777215).toString(16);
          var deg = Math.floor(Math.random() * 100).toString();
          var gradient = 'linear-gradient(' + deg + 'deg,' + from + ',' + to + ')';
          bg.style.background = gradient;
          out.innerHTML = "background:" + gradient + ";";
        }
                
    </script>
    </body>
</html>